Tuples and sets

tuples are ordred collection of elements , heterogenous
Tuples are immutable

In [1]:
t = () # use by parenthesis ()
type(t)

tuple

In [2]:
t = ("swaraj","pwskilss",2,2.3,True)
type(t)

tuple

In [3]:
t[0]

'swaraj'

In [4]:
t[3]

2.3

In [5]:
# tuples are immutable 
# t[0] = 100 /tupple are imuutable and it will through are error

In [6]:

# use case>> use tuples as a data structue where you donot want to modify a data
empid = (1,2,3,4,5)
# empid[1] = 100  it will trough an eror

In [7]:
tuple1 = ("pwskill",1,1,1,1,"pwskill","swaraj" ,2.4)
tuple1.count(1)

4

In [8]:
tuple1.count("pwskill")

2

In [9]:
tuple1.index("pwskill")

0

In [10]:
print(tuple1*2)

('pwskill', 1, 1, 1, 1, 'pwskill', 'swaraj', 2.4, 'pwskill', 1, 1, 1, 1, 'pwskill', 'swaraj', 2.4)

In [10]:
# slicing of tuples

In [12]:
tuple1

('pwskill', 1, 1, 1, 1, 'pwskill', 'swaraj', 2.4)

In [13]:
tuple1[0:4]

('pwskill', 1, 1, 1)

In [14]:
tuple1[::-1] #reverse

(2.4, 'swaraj', 'pwskill', 1, 1, 1, 1, 'pwskill')

In [15]:
for i in  tuple1: #itrting
    print(i,type(i))

pwskill <class 'str'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
pwskill <class 'str'>
swaraj <class 'str'>
2.4 <class 'float'>

In [16]:
t1 = (1,34,29,0,200,45)
t2=(101,236)
max(t1) # maximn value

200

In [17]:
min(t1) #minumunm value

0

In [18]:

t3=(t1,t2) #nested tuple
print(t3)

((1, 34, 29, 0, 200, 45), (101, 236))

In [19]:
# del t3 deleting tuple

In [20]:
print(t3)

((1, 34, 29, 0, 200, 45), (101, 236))

In [21]:
t1

(1, 34, 29, 0, 200, 45)

In [22]:
len(t1)

6

In [23]:
1 in t1

True

In [24]:
54 in t1

False

In [25]:
"pwskill" in t1

False

In [26]:
1 not in t1

False

In [27]:
# combine both the tuple 
t1+t2

(1, 34, 29, 0, 200, 45, 101, 236)

In [28]:
# sets >> unordered and unique collection of elements
# dose not allow duplicate element
# unordered >> indexing will not pssibele
# used {}

s = {}
type(s) # it will return dict because dict print key value pairs
# so type of empty set show as dict

dict

In [29]:
# if you put something in {} it will provide set couse it doesnot have ny key vlue pair 
s = {"swaraj"}
print(type(s)) # will give result as  <class set>

<class 'set'>

In [30]:
s1 ={1,2,3 ,3.4,True}
s1

{1, 2, 3, 3.4}

In [31]:
s2 ={1, 5, 45,"swaraj", "swaraj", "SWARAJ"} 
s2 # it show only one swaraj And SWARAJ because msame elemrnt are allow once

{1, 45, 5, 'SWARAJ', 'swaraj'}

In [9]:
# use case

list1 = [1,2,3,"brinjl","orange","ram",True,56.4,"orange", "apple","apple"]
#[1, 2, 3, 'brinjl', 'orange', 'ram', True, 56.4, 'orange', 'apple', 'apple']


# if i print the list1 it will print all the element besause it is a list 
print(list1)

# but if i convert this list1 to a set it will print only elemnt of elemnts nott the repeted elemnt
print(set(list1)) #{1, 2, 3, 'ram', 'orange', 'apple', 'brinjl', 56.4}

[1, 2, 3, 'brinjl', 'orange', 'ram', True, 56.4, 'orange', 'apple', 'apple']
{1, 2, 3, 'apple', 'orange', 'ram', 56.4, 'brinjl'}

In [33]:
list(list1) # again converted to it a list

[1, 2, 3, 'brinjl', 'orange', 'ram', True, 56.4, 'orange', 'apple', 'apple']

In [34]:
s2
# because set is a collection of unordred elemnt there no meaning of indexin
# s2[0] it will give error

{1, 45, 5, 'SWARAJ', 'swaraj'}

In [35]:
set3 = {1,2,3,2,1,4}
set3

{1, 2, 3, 4}

In [36]:
# set inside  set is not possible 
# s = {1,24,5,6,{2,7}} 
# s  it will give an error

In [37]:
#also list inside a set is not possible an give a error

# ss1 = {1,2,4,5,[3,4,6]} 
# type(ss1) 
# print(ss1) it will giv an error 
# print(ss1) it will giv an error 
# TypeError: unhashable type: 'set'  t it means it is mutable - list ,set ,,, 
# immutaable data structire has stable hash value like tuple

In [38]:
# but tuple inside a set is posssible 

ss1 = {1,2,4,5,(3,4,6)} # it did not through error becoz tuple is immutable and have a stable hash value
print(ss1)
print(type(ss1))

{1, 2, 4, 5, (3, 4, 6)}
<class 'set'>

In [39]:
# ss1[0] not indexed >> if not indexed you can not do slicing 

# ss1[:2] is will also through an error

In [40]:
# you can run a loop hear
for i in ss1 :
    print(i)

1
2
4
5
(3, 4, 6)

In [41]:
# set is mutable 
ss1.add(100)
print(ss1)
ss1.add(6) # it not compulsorry that elemnt will be adedd to the last
print(ss1)

{1, 2, 4, 5, (3, 4, 6), 100}
{1, 2, 4, 5, (3, 4, 6), 100, 6}

In [42]:

ss1.pop() #thoough it is unorded it also not compulsory that it will emove / pop the last element
# it will only one orbitary elment
# ss1.pop(4) #it will not work becuae it ill remove one element randomly
# TypeError: set.pop() takes no arguments (1 given)  
print(ss1)

{2, 4, 5, (3, 4, 6), 100, 6}

In [43]:
# you can specifically remove an element
ss1.remove(4) # removes specific element
print(ss1)

{2, 5, (3, 4, 6), 100, 6}

In [44]:
ss1.update("ajay")
print(ss1) # it will add but in diiffrent char you know it s unodred
ss1.update(["swaraj"])
ss1.update([2,3]) #you have to add in thi way the integers cant directly ad

{'y', 2, 100, 5, (3, 4, 6), 6, 'j', 'a'}

In [45]:
# set can have multiple data structures 
s2 = {(1,23,3),100,"@",2.4}
type(s2)

set

In [46]:
# you can clear a set  
s2.clear()
s2

set()

In [47]:
del s2
# if now yopu run a the s2 st it will guve error bcuse its empty

In [48]:
s2 = {(1,23,3),100,101,"@",2.4}
s2.remove(101)
s2

{(1, 23, 3), 100, 2.4, '@'}

In [49]:
# s.remove(114) >> it will rmive aeror bcaue it it is not prenst

In [50]:
s2.discard(100)
s2 #it will not give error

{(1, 23, 3), 2.4, '@'}

In [51]:
s2.discard(607) # it will also not give error if the elemnt presnt or not

In [52]:
# set operations 
# 1. Union >> combine elements from two setexcluding dupliates
# 2. intersection >> only common elmrnt btween sets
# 3. diffrenence >> returns the elments that present in 1st set and not in 2nd set
# 4. symettry diffrent >> returns the elements that are prsent in eithe of the sets bit not in both

In [53]:
s1 = {"coding","swimming","dancing","cycling"}
s2 = {"dancing","coding", "singing","photography"}

In [54]:
# union >> combine all the element
print(s1 | s2)

{'coding', 'photography', 'swimming', 'cycling', 'singing', 'dancing'}

In [55]:
# intersection >> common elemnts

print (s1 & s2)

{'coding', 'dancing'}

In [56]:
# diffrence >> present in 1st not in 2nd
print(s1 -s2)

{'swimming', 'cycling'}

In [57]:
# symmetric diffrence

print(s1 ^ s2)

{'photography', 'swimming', 'cycling', 'singing'}

In [58]:
# frozen sets  >> immutable version of sets >> can not be added or remove element
s = {1,2,3}
s.add(100)
print(s)

{1, 2, 3, 100}

In [2]:
# frozen set
my_fs = frozenset([1,2,33,33,4,5,4,"swaraj"])

print(my_fs)

frozenset({1, 2, 33, 4, 5, 'swaraj'})

In [7]:
my_fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
my_fs.remove(52)

AttributeError: 'frozenset' object has no attribute 'remove'

In [5]:
# my_fs.discrd(33)

AttributeError: 'frozenset' object has no attribute 'discrd'