### lambda map reduce filter

In [2]:
# lambda function >> anyonymous function >> short hand funtion

# synatax 
# lambda arguements : expression >> no nee of return statement

hii swraj

In [3]:
def sq(x):
    return x**2
sq(2)

4

In [6]:
sq_nu = lambda x: x**2
print(sq_nu(3))

9

In [7]:
add = lambda a,b:a+b

In [9]:
add(2,3)

5

In [13]:
is_even =lambda x : x%2==0
is_even(5)

False

In [14]:
x = ["python","data science","swaraj"]
x

['python', 'data science', 'swaraj']

In [16]:
sorted(x) # by default sorting based on alphbeticl order

['data science', 'python', 'swaraj']

In [19]:
# sor the list bsed on the element of the list 
le = lambda x : len(x)
le("swaraj")

6

In [20]:
sorted(x,key = lambda x : len(x) )

['python', 'swaraj', 'data science']

In [21]:
# fibonaci /
fib = lambda n: n if n<=1 else fib(n-1)+fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [22]:
# factorial of 5 (5!) >> 5*4*3*2*1 and 0!=1

def fact_num(n):
    if n==0:
        return 1
    else :
        return n*fact_num(n-1)

In [24]:
fact_num(5)

120

In [31]:
fact_num=lambda n:1 if n==0 else n*fact_num(n-1)

In [32]:
fact_num(5)

120

In [ ]:
# Map function  >> executes a specified function  for each item for of an iterable 
# syntax >> map  (func , *itreables)

In [33]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [37]:
l = [1, 2, 3, 4, 5]
def squre(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq
squre(l)

[1, 4, 9, 16, 25]

In [45]:
def sq(x):
    return x**2

In [41]:
sq(2)

4

In [42]:
l

[1, 2, 3, 4, 5]

In [47]:
# map (func, iterable)
list(map(sq,l))

[1, 4, 9, 16, 25]

In [49]:
def add(x):
    return x+10
list(map(add,l))

[11, 12, 13, 14, 15]

In [52]:
# using lambda function with map
list(map(lambda x:x+10,l))

[11, 12, 13, 14, 15]

In [55]:
l = ["1","2","3","4"]
list(map(lambda x : int(x),l))

[1, 2, 3, 4]

In [56]:
l1 = [100,200,300,400]

l2 = [1,2,3,4]
list(map(lambda x,y: x+y, l1,l2))

[101, 202, 303, 404]

In [59]:
s = "pwskills"
list(map(lambda x: x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [61]:
words = ["swaraj", "python"]
list(map(str.capitalize,words))

['Swaraj', 'Python']

In [63]:
grades = ["A","B","C","D"]
list(map(lambda grade: 4 if grade == "A"else(3 if grade =="B" else 2), grades))

[4, 3, 2, 2]

In [1]:
# reduce >> folding/reduction 
# syntax >> #reduce (func, iterable)
 # reduce will always take two arguements
from functools import reduce

In [2]:
l = [2,1,3,4,4,5,6]
reduce(lambda x, y:x+y, l)

25

In [3]:
l = [2,1,3,4,4,5,6]
reduce(lambda x, y,z:x+y+z, l) # throw error

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [4]:
l = [2,1,3,4,4,5,6]
reduce(lambda x, y:x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [5]:
l = [2,1,3,4,4,5,6]
reduce(lambda x, y:x+y, [1])

1

In [6]:
l = [2,1,3,4,4,5,6]
reduce(lambda x, y:x*y, l)

2880

In [8]:
words = ["data","science","course"]
reduce(lambda x,y:x+" "+y, words)

'data science course'

In [10]:
# most highest value at each stage you are comparing v and y

num = [1,2,5,3,100,1000,6,10000]
reduce(lambda x,y:x if x>y else y,num)

10000

In [17]:
def factorial(n):
    return reduce (lambda x,y:x*y, range(1 , n+1))

In [18]:
factorial(5)

120

In [20]:
# filter function >> it is used to filter elements from an iterable based on some condition
# syntax >> filter(function, iterable)

In [21]:
l

[2, 1, 3, 4, 4, 5, 6]

In [22]:
list(filter(lambda x: x%2==0,l))

[2, 4, 4, 6]

In [23]:
list(filter(lambda x: x%2 != 0,l))

[1, 3, 5]

In [28]:
l1 = [-1,-2,-3,-4,56,-7,34,32]

list(filter(lambda x: x<0,l1))

[-1, -2, -3, -4, -7]

In [29]:
list(filter(lambda x: x>0,l1))

[56, 34, 32]

In [30]:
s = ["swaraj","pwskills","datas cience","hii","okay"]

In [31]:
list(filter(lambda x : len(x)>4,s))

['swaraj', 'pwskills', 'datas cience']

In [34]:
def check_even(num):
    if num%2 == 0:
        return True 
    else: 
        return False

In [36]:
check_even(4)

True

In [40]:
num = [1,2,3,4,5,9,10]
list(filter(check_even,num))

[2, 4, 10]